{% extends "base/base.html" %}

{% block content %}
<div class="main">
    <div class="title">
        About us!
    </div>
    <div class="subtitle">
        저희 팀은 컴퓨터 비전에 관심있는 덕성여대 컴퓨터공학전공 3,4학년으로 구성되어 있습니다.
    </div>
</div>
<div class="introduce1">
    <div class="intro-item">
        <div class="intro-item-image">
            <img width="200px" height="200px" src="static/base/assets/img/pjy.jpg" alt="TWS" />
        </div>
        <div class="intro-item-content">
            <div class="intro-item-name">
                박지예
            </div>
            <div class="intro-item-job">
                > Detection model 적용
            </div>
            <div class="intro-item-email">
                email: jiye0710@duksung.ac.kr
            </div>
            <div class="intro-item-github">
                github: https://github.com/Jiye-Park01
            </div>
        </div>
    </div>
    <div class="intro-item">
        <div class="intro-item-image">
            <img width="200px" height="200px" src="static/base/assets/img/kyb.jpg" alt="TWS" />
        </div>
        <div class="intro-item-content">
            <div class="intro-item-name">
                김예빈
            </div>
            <div class="intro-item-job">
                > Web 개발
            </div>
            <div class="intro-item-email">
                email: 20210699@duksung.ac.kr
            </div>
            <div class="intro-item-github">
                github: https://github.com/20210699
            </div>
        </div>
    </div>
</div>
<div class="introduce2">
    <div class="intro-item">
        <div class="intro-item-image">
            <img width="200px" height="200px" src="static/base/assets/img/jcm.jpg" alt="TWS" />
        </div>
        <div class="intro-item-content">
            <div class="intro-item-name">
                정지민
            </div>
            <div class="intro-item-job">
                > Web 개발
            </div>
            <div class="intro-item-email">
                email: ghosti007@duksung.ac.kr
            </div>
            <div class="intro-item-github">
                github: https://github.com/sunflwwer
            </div>
        </div>
    </div>
    <div class="intro-item">
        <div class="intro-item-image">
            <img width="200px" height="200px" src="static/base/assets/img/lys.png" alt="TWS" />
        </div>
        <div class="intro-item-content">
            <div class="intro-item-name">
                이윤서
            </div>
            <div class="intro-item-job">
                > Tracking, Reidentification model 적용
            </div>
            <div class="intro-item-email">
                email: jiye0710@duksung.ac.kr
            </div>
            <div class="intro-item-github">
                github: https://github.com/Jiye-Park01
            </div>
        </div>
    </div>
</div>
{% endblock %}